<h1>Showing Job Type Details</h1>

<table width="100%">
	<tr>
		<th>Type</th>
		<th>Description</th>
		<th>Action</th>
	</tr>
	<% @job_types.each do |e| %>
	<tr>
		<td><%= e.type_name %></td>
		<td><%= e.type_description %></td>
		<td>

			<%= link_to "Edit", edit_job_type_path(e) %>
			<%= link_to "Show", job_type_path(e) %>
			<%= link_to "Delete", job_type_path(e), method: :delete, data: { confirm: "Are you sure!" } %>
			
		</td>
	</tr>
	<% end %>
</table>

<style>
	table, tr, th, td {
		border: 1px solid black;
	} 
</style>
<%= link_to "New",new_job_type_path %>
