<h1>Hi,Welcome to Employee profile</h1>
<%= form_for @employee do |f| %>
<table>
	<tr>
	<td><%= f.hidden_field :user_id, :value => current_user.id %></td>
	</tr>
	<tr>
		<td> First Name </td>
		<td><%= f.text_field :Fname %></td>
	</tr>
	<tr>
		<td> Last Name </td>
		<td><%= f.text_field :Lname %></td>
	</tr>
	<tr>
		<td> DOB </td>
		<td><%= f.text_field :dob %></td>
	</tr>
	<tr>
		<td> Gender </td>
		<td><%= f.radio_button 'gender', 'Male' %> Male
		<%= f.radio_button 'gender', 'Female' %> Female</td>
	</tr>
	<tr>
		<td> Email </td>
		<td><%= f.text_field :email %></td>
	</tr>
	<tr>
		<td> Phone Number </td>
		<td><%= f.text_field :ph_number %></td>
	</tr>
	<tr>
		<td> State </td>
		<td><%= f.text_field :state %></td>
	</tr>
	<tr>
		<td> City </td>
		<td><%= f.text_field :city %></td>
	</tr>
	<tr>
		<td> Address </td>
		<td><%= f.text_area :address %></td>
	</tr>
	<tr>
		<td> Pin Code </td>
		<td><%= f.text_field :pin_code %></td>
	</tr>
	<tr>
		<td> Qualification </td>
		<td><%= f.text_field :qualification %></td>
	</tr>
	<tr>
		<td> Univercity </td>
		<td><%= f.text_field :univercity %></td>
	</tr>
	<tr>
		<td> Percentage(%) </td>
		<td><%= f.text_field :percentage %></td>
	</tr>
</table>
<%= f.submit "Submit" %>
<% end %>
