<h1>showing employee information</h1>
<p>
	<strong>Fname:</strong>
	<%= @employee.Fname %>
</p>

<p>
	<strong>Lname:</strong>
	<%= @employee.Lname %>
</p>

<p>
	<strong>DOB:</strong>
	<%= @employee.dob %>
</p>

<p>
	<strong>Gender:</strong>
	<%= @employee.gender %>
</p>

<p>
	<strong>Email Address:</strong>
	<%= @employee.email %>
</p>

<p>
	<strong>Phone_number:</strong>
	<%= @employee.ph_number %>
</p>

<p>
	<strong>State:</strong>
	<%= @employee.state %>
</p>

<p>
	<strong>City:</strong>
	<%= @employee.city %>
</p>

<p>
	<strong>Address:</strong>
	<%= @employee.address %>
</p>

<p>
	<strong>Pni Code:</strong>
	<%= @employee.pin_code %>
</p>

<p>
	<strong>Qualification:</strong>
	<%= @employee.qualification %>
</p>

<p>
	<strong>Univercity:</strong>
	<%= @employee.univercity %>
</p>

<p>
	<strong>Percentage(%):</strong>
	<%= @employee.percentage %>
</p>

<%= link_to "home", employer_dashboard_home_index_path %></td>
