<h1>showing Your Details</h1>
<table>
<tr>
	<td><strong>First Name</strong></td>
	<td><%= @employee.Fname %></td>
</tr>

<tr>
	<td><strong>Last Name</strong></td>
	<td><%= @employee.Lname %></td>
</tr>

<tr>
	<td><strong>DOB</strong></td>
	<td><%= @employee.dob %></td>
</tr>

<tr>
	<td><strong>Gender</strong></td>
	<td><%= @employee.gender %></td>
</tr>

<tr>
	<td><strong>Email Address</strong></td>
	<td><%= @employee.email %></td>
</tr>

<tr>
	<td><strong>Phone Number</strong></td>
	<td><%= @employee.ph_number %></td>
</tr>

<tr>
	<td><strong>State</strong></td>
	<td><%= @employee.state %></td>
</tr>

<tr>
	<td><strong>City</strong></td>
	<td><%= @employee.city %></td>
</tr>

<tr>
	<td><strong>Address</strong></td>
	<td><%= @employee.address %></td>
</tr>

<tr>
	<td><strong>Pin Code</strong></td>
	<td><%= @employee.pin_code %></td>
</tr>

<tr>
	<td><strong>Qualification</strong></td>
	<td><%= @employee.qualification %></td>
</tr>

<tr>
	<td><strong>Univercity</strong></td>
	<td><%= @employee.univercity %></td>
</tr>

<tr>
	<td><strong>Percentage(%)</strong></td>
	<td><%= @employee.percentage %></td>
</tr>

<tr>
	<td><strong>Resume</strong></td>
	<td><%= link_to @employee.document_file_name, @employee.document.url %></td>
</tr>
</table>

<%= link_to "Edit", edit_employee_path(@employee) %> 
<% if is_admin? %>
| <%= link_to "Back", employees_path %>
<% end %>