<h1>showing Your Details</h1>
<p>
	<strong>First Name:</strong>
	<%= @employee.Fname %>
</p>

<p>
	<strong>Last Name:</strong>
	<%= @employee.Lname %>
</p>

<p>
	<strong>DOB:</strong>
	<%= @employee.dob %>
</p>

<p>
	<strong>Gender:</strong>
	<%= @employee.gender %>
</p>

<p>
	<strong>Email Address:</strong>
	<%= @employee.email %>
</p>

<p>
	<strong>Phone Number:</strong>
	<%= @employee.ph_number %>
</p>

<p>
	<strong>State:</strong>
	<%= @employee.state %>
</p>

<p>
	<strong>City:</strong>
	<%= @employee.city %>
</p>

<p>
	<strong>Address:</strong>
	<%= @employee.address %>
</p>

<p>
	<strong>Pin Code:</strong>
	<%= @employee.pin_code %>
</p>

<p>
	<strong>Qualification:</strong>
	<%= @employee.qualification %>
</p>

<p>
	<strong>Univercity:</strong>
	<%= @employee.univercity %>
</p>

<p>
	<strong>Percentage(%):</strong>
	<%= @employee.percentage %>
</p>

<%= link_to "Edit", edit_employee_path(@employee) %></td>
