<h1>Showing Jobs details</h1>
<% if flash[:notice] %>
<div class="notice"><%= flash[:notice] %> </div>
<% end %>
<table width="100%">
	<tr>
		<th>company_name</th>
		<th>job_type</th>
		<th>job_posted_on</th>
		<th>job_expires_on</th>
		<th>salary</th>
		<th>functional_area</th>
		<th>experience</th>
		<th>Action</th>
	</tr>
	<% @jobs.each do |e| %>
	<tr>
		<td><%= e.employer.company_name %></td>
		<td><%= e.job_type.type_name %></td>
		<td><%= e.job_posted_on %></td>
		<td><%= e.job_expires_on %></td>
		<td><%= e.salary %></td>
		<td><%= e.functional_area %></td>
		<td><%= e.experience %></td>
		<td><%= link_to "show", job_path(e) %></td></tr>
	</tr>
	<% end %>
</table>

<style>
	table, tr, th, td {
		border: 1px solid black;
	} 
	.notice{
	color:#3ABf00;
	h5{
		color:#3ABf00;
	}
}
</style>