<h1>Post a New Job</h1>

<%= form_for @job do |f| %>

<table>	
	<tr>
		<td> Type </td>
		<td><%= collection_select(:job, :job_type_id, JobType.all, :id, :type_name)  %> </td>
	</tr>
	<tr>
		<td> Posted On </td>
		<td><%= f.date_select :job_posted_on, :order => [:day, :month, :year] %></td>
	</tr>
	<tr>
		<td> Expires On </td>
		<td><%= f.date_select :job_expires_on, :order => [:day, :month, :year] %></td>
	</tr>
	<tr>
		<td> Salary </td>
		<td><%= f.text_field :salary %></td>
	</tr>
	<tr>
		<td> Functional Area </td>
		<td><%= f.text_field :functional_area %></td>
	</tr>
	<tr>
		<td> Experience </td>
		<td><%= f.text_field :experience %></td>
	</tr>
	<%= f.hidden_field :employer_id, :value => current_user.employer.id %>

</table>

<%= f.submit "Submit" %> | <%= link_to "Back", jobs_path %>
<% end %>

<style>
	h1 {
		color: purple;
		text-align: center;
		background-color: yellow;
	}	
</style>