<h1> Job information</h1>
<table>
	<tr>
		<td><strong>Company:</strong></td>
		<td><%= @job.employer.company_name %></td>
	</tr>

	<tr>
		<td><strong>Type:</strong></td>
		<td><%= @job.job_type.type_name %></td>
	</tr>

	<tr>
		<td><strong>Posted On:</strong></td>
		<td><%= @job.job_posted_on %></td>
	</tr>

	<tr>
		<td><strong>Expires On:</strong></td>
		<td><%= @job.job_expires_on %></td>
	</tr>

	<tr>
		<td><strong>Salary:</strong></td>
		<td><%= @job.salary %></td>
	</tr>

	<tr>
		<td><strong>Functional Area:</strong></td>
		<td><%= @job.functional_area %></td>
	</tr>

	<tr>
		<td><strong>experience:</strong></td>
		<td><%= @job.experience %></td>
	</tr>
</table>

<%= link_to "Back", jobs_path %>

<% if is_employer? %>
| <%= link_to "Edit", edit_job_path(@job) %>
<% end %>

<% if current_user.employee %>
<% unless AppliedJob.find_by(employee_id: current_user.employee.id, job_id: @job.id) %>
<%= form_for AppliedJob.new() do |f|%>
<%= f.hidden_field :employee_id, :value => current_user.employee.id %>
<%= f.hidden_field :job_id, :value => @job.id %>
<%= f.submit "Apply"%>
<% end %>
<% else %>
You have already applied to this job!
<% end %>
<% end %>
