<h1> Job information</h1>
<p>
	<strong>Company:</strong>
	<%= @job.employer.company_name %>
</p>

<p>
	<strong>Type:</strong>
	<%= @job.job_type.type_name %>
</p>

<p>
	<strong>Posted On:</strong>
	<%= @job.job_posted_on %>
</p>

<p>
	<strong>Expires On:</strong>
	<%= @job.job_expires_on %>
</p>

<p>
	<strong>Salary:</strong>
	<%= @job.salary %>
</p>

<p>
	<strong>Functional Area:</strong>
	<%= @job.functional_area %>
</p>

<p>
	<strong>experience:</strong>
	<%= @job.experience %>
</p>

<% if current_user.employee %>
<% unless AppliedJob.find_by(employee_id: current_user.employee.id, job_id: @job.id) %>
<%= form_for AppliedJob.new() do |f|%>
<%= f.hidden_field :employee_id, :value => current_user.employee.id %>
<%= f.hidden_field :job_id, :value => @job.id %>
<%= f.submit "Apply"%>
<% end %>
<% else %>
You have already applied to this job!
<% end %>
<% end %>

<style>
	h2{
		color:blue	;
	}
	h1{
		color:blue;
		text-align: center;
		background-color: violet;
	}

</style>

