<h1> Admin page </h1>


* <%= link_to "Manage Employers", employers_path %> <br/>
* <%= link_to "Manage Jobs", jobs_path %> <br/>
* <%= link_to "Manage Employees", employees_path %> <br/>
* <%= link_to "Manage Applied Jobs", applied_jobs_path %> <br/>
* <%= link_to "Manage Job Types", job_types_path %> <br/>
* <%= link_to "Manage Roles", roles_path %> <br/>