<h1>Showing Applied Jobs details</h1>

<table width="100%">
	<tr>
		<th>Company Name</th>
		<th>Job Type</th>
		<th>Posted On</th>
		<th>Expires On</th>
		<th>Experience</th>
		<th>Applied By</th>
		<th>Applied On</th>
		<th>Actions</th>
	</tr>
	<% @applied_jobs.each do |a_j| %>
	<tr>
		<td><%= a_j.job.employer.company_name %></td>
		<td><%= a_j.job.job_type.type_name %></td>
		<td><%= a_j.job.job_posted_on %></td>
		<td><%= a_j.job.job_expires_on %></td>
		<td><%= a_j.job.experience %></td>
		<td><%= a_j.employee.Fname %></td>
		<td><%= a_j.created_at.strftime("%d-%b-%y") %></td>
		<td>
			<%= link_to "Show", applied_job_path(a_j) %>
		</td>
		
	</tr>
	<% end %>
</table>

<style>
	table, tr, th, td {
		border: 1px solid black;
	} 
	.notice{
		color:#3ABf00;
	}
	h5{
		color:#3ABf00;
	}
</style>