<h1> Showing Applied Job</h1>
<table>
	<tr>
		<td><strong>Company</strong></td>
		<td><%= @applied_job.job.employer.company_name %></td>
	</tr>

	<tr>
		<td><strong>Type:</strong></td>
		<td><%= @applied_job.job.job_type.type_name %></td>
	</tr>

	<tr>
		<td><strong>Posted On:</strong></td>
		<td><%= @applied_job.job.job_posted_on %></td>
	</tr>

	<tr>
		<td><strong>Expires On:</strong></td>
		<td><%= @applied_job.job.job_expires_on %></td>
	</tr>

	<tr>
		<td><strong>Salary:</strong></td>
		<td><%= @applied_job.job.salary %></td>
	</tr>

	<tr>
		<td><strong>Functional Area:</strong></td>
		<td><%= @applied_job.job.functional_area %></td>
	</tr>

	<tr>
		<td><strong>Experience:</strong></td>
		<td><%= @applied_job.job.experience %></td>
	</tr>

</table>
<%= link_to "Back", applied_jobs_path %>
