
<h1> Edit Your Details </h1>

<%= form_for @employer do |f| %>

<%= f.hidden_field :user_id, :value => current_user.id %>

<table>
	<tr>
		<td> Name </td>
		<td><%= f.text_field :company_name %></td>
	</tr>
	<tr>
		<td> Website Url </td>
		<td><%= f.text_field :website_url %></td>
	</tr>
	<tr>
		<td> Country </td>
		<td><%= f.text_field :country %></td>
	</tr>
	<tr>
		<td> State </td>
		<td><%= f.text_field :state %></td>
	</tr>
	<tr>
		<td> City </td>
		<td><%= f.text_field :city %></td>
	</tr>
	<tr>
		<td> Contact Person </td>
		<td><%= f.text_field :contact_person %></td>
	</tr>
	<tr>
		<td> Contact Number </td>
		<td><%= f.number_field :contact_number %></td>
	</tr>
	<tr>
		<td> Contact Email </td>
		<td><%= f.text_field :contact_email %></td>
	</tr>
	<tr>
		<td> Full Address </td>
		<td><%= f.text_area :full_address %></td>
	</tr>

	<tr>
		<td colspan="2"><%= f.submit "Submit" %> <% if is_admin? %> <%= link_to "Back", employers_path %> <% end %> </td>
	</tr>

</table>

<% end %>
