<h1>Showing employers details</h1>
<table width="100%">
	<tr>
		<th>Company Name</th>
		<th>Website Url</th>
		<th>City</th>
		<th>Contact Person</th>
		<th>Contact Number</th>
		<th>Contact Email</th>
		<th>Actions</th>
	</tr>
	<% if @employers.empty? %>
	<tr>
		<td colspan="7" style="text-align:center; font-weight:bold">
			No Employers Found
		</td>
	</tr>
	
	<% else %>
	<% @employers.each do |e| %>
	<tr>
		<td><%= e.company_name %></td>
		<td><%= e.website_url %></td>
		<td><%= e.city %></td>
		<td><%= e.contact_person %></td>
		<td><%= e.contact_number %></td>
		<td><%= e.contact_email %></td>
		<td>
			<%= link_to "Edit", edit_employer_path(e) %>
			<%= link_to "Show", employer_path(e) %>
			<%= link_to "Delete", employer_path(e), method: :delete, data: { confirm: "Are you sure!" } %>
		</td>
	</tr>
	<% end %>
	<% end %>
</table>

<style>
	table, tr, th, td {
		border: 1px solid black;
	} 
	.notice{
		color:#3ABf00;
	}
</style>