<h1>Hi,Welcome to Employer profile</h1>

<%= form_for @employer do |f| %>
<table>
	<tr>
	<td><%= f.hidden_field :user_id, :value => current_user.id %></td>
	</tr>
	<tr>
		<td> Name </td>
		<td><%= f.text_field :company_name %></td>
	</tr>
	<tr>
		<td> website_url </td>
		<td><%= f.text_field :website_url %></td>
	</tr>
	<tr>
		<td> country </td>
		<td><%= f.text_field :country %></td>
	</tr>
	<tr>
		<td> state </td>
		<td><%= f.text_field :state %></td>
	</tr>
	<tr>
		<td> city </td>
		<td><%= f.text_field :city %></td>
	</tr>
	<tr>
		<td> contact_person </td>
		<td><%= f.text_field :contact_person %></td>
	</tr>
	<tr>
		<td> contact_number </td>
		<td><%= f.number_field :contact_number %></td>
	</tr>
	<tr>
		<td> contact_email </td>
		<td><%= f.email_field :contact_email %></td>
	</tr>
	<tr>
		<td> full_address </td>
		<td><%= f.text_area :full_address %></td>
	</tr>
</table>
<%= f.submit "submit" %>
<% end %>

<style>
	h1 {
		color: purple;
		text-align: center;
		background-color: yellow;
	}

</style>