<h1>showing employer information</h1>
<table>
	<tr>
		<td><strong>Company Name</strong></td>
		<td><%= @employer.company_name %></td>
	</tr>

	<tr>
		<td><strong>Website Url</strong></td>
		<td><%= @employer.website_url %></td>
	</tr>

	<tr>
		<td><strong>Country</strong></td>
		<td><%= @employer.country %></td>
	</tr>

	<tr>
		<td><strong>State</strong></td>
		<td><%= @employer.state %></td>
	</tr>

	<tr>
		<td><strong>City</strong></td>
		<td><%= @employer.city %></td>
	</tr>

	<tr>
		<td><strong>Contact Person</strong></td>
		<td><%= @employer.contact_person %></td>
	</tr>

	<tr>
		<td><strong>Contact Number</strong></td>
		<td><%= @employer.contact_number %></td>
	</tr>

	<tr>
		<td><strong>Contact Email</strong></td>
		<td><%= @employer.contact_email %></td>
	</tr>

	<tr>
		<td><strong>Full Address</strong></td>
		<td><%= @employer.full_address %></td>
	</tr>
</table>

<%= link_to "Edit", edit_employer_path(@employer) %> 
<% if is_admin? %>
|<%= link_to "Back", employers_path %>
<% end %>