<h1>showing employer information</h1>
<p>
	<strong>Company Name:</strong>
	<%= @employer.company_name %>
</p>

<p>
	<strong>Website Url:</strong>
	<%= @employer.website_url %>
</p>

<p>
	<strong>Country:</strong>
	<%= @employer.country %>
</p>

<p>
	<strong>State:</strong>
	<%= @employer.state %>
</p>

<p>
	<strong>City:</strong>
	<%= @employer.city %>
</p>

<p>
	<strong>Contact Person:</strong>
	<%= @employer.contact_person %>
</p>

<p>
	<strong>Contact Number:</strong>
	<%= @employer.contact_number %>
</p>

<p>
	<strong>Contact Email:</strong>
	<%= @employer.contact_email %>
</p>

<p>
	<strong>Full Address:</strong>
	<%= @employer.full_address %>
</p>

<%= link_to "Edit", edit_employer_path(current_user.employer.id) %>