<h1>showing employer information</h1>
<p>
	<strong>Company Name:</strong>
	<%= @employer.company_name %>
</p>

<p>
	<strong>Website_url:</strong>
	<%= @employer.website_url %>
</p>

<p>
	<strong>country:</strong>
	<%= @employer.country %>
</p>

<p>
	<strong>state:</strong>
	<%= @employer.state %>
</p>

<p>
	<strong>city:</strong>
	<%= @employer.city %>
</p>

<p>
	<strong>contact_person:</strong>
	<%= @employer.contact_person %>
</p>

<p>
	<strong>contact_number:</strong>
	<%= @employer.contact_number %>
</p>

<p>
	<strong>contact_email:</strong>
	<%= @employer.contact_email %>
</p>

<p>
	<strong>full_address:</strong>
	<%= @employer.full_address %>
</p>

<%= link_to "home", root_path %></td> | 
<%= link_to "edit", edit_employer_path(current_user.employer.id) %>