<!DOCTYPE html>
<html>
<head>
	<title>JobPortal</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div id="user_nav">
		<% if user_signed_in? %>
		<h4>
			Signed in as <%= current_user.email %>
			<span style="float:right"><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></span>
		</h4>
		<hr>
		<% elsif !devise_controller? %>
		<%= link_to "Sign up", new_user_registration_path %> or
		<%= link_to "Sign in", new_user_session_path %>
		<% end %>
	</div>

	<div class="breadcrumbs">
		<% unless !current_user or (params[:controller] == "home" and params[:action] == "index") %>
		<%= link_to "Home", root_path %> >
		<%= link_to "#{params[:controller]}".capitalize, :controller => "#{params[:controller]}", :action => "index" %>
		<% end %>
	</div>

	<p class="notice" style="color:green;"><%= notice %></p>
	<p class="alert"><%= alert %></p>
	<p style="color:red;"><%= flash[:error] %></p>

	<%= yield %>

</body>
</html>

